version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: integration_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
       
  order-service:
    build: .
    container_name: order_service
    ports:
      - "5001:5000"
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - .:/app
    command: npm run dev

volumes:
  pgdata:
